body {
    font-family: 'Arial', sans-serif;
    background-image: url("/static/v1008-25-a.jpeg");
    background-color: #1D1D1D; /* 강아지 색깔 배경색 */
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: 'Comic Sans MS', cursive;
    color: #ff6a7b;
    margin-bottom: 20px;
}

h1 span {
    color: #017CEE;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    margin-top: 10px;
    position: relative;
    left: 20px;
    display: flex;
    justify-content: center;
}

.button-container a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    margin-right: 19px;
}

#logout-container {
    display: none;
    margin-top: 20px;
}

#logout-container h2 {
    color: #4CAF50;
}

img {
    width: 100px;
    position: relative;
    top: 102px;
}

/* 테이블 스타일 */
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #017CEE;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.back-button {
    margin-top: 20px;
}

.back-button a {
    text-decoration: none;
    color: white;
}

.back-button button {
    background-color: #017CEE;
    padding: 10px 20px;
}

.back-button button:hover {
    background-color: #005bb5;
}