<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>채팅방</h1>
    <div id="chat-box">
        {% for message in messages %}
        <div class="{% if message.sender_id == session['user_id'] %}outgoing{% else %}incoming{% endif %}">
            <p>{{ message.message }}</p>
        </div>
        {% endfor %}
    </div>
    <form method="POST">
        <input type="text" name="message" placeholder="메시지를 입력하세요">
        <button type="submit">전송</button>
    </form>
    <button><a href="{{ url_for('myapp.logout') }}">로그아웃</a></button>
</body>
</html>